ul.search-results img {
  margin: 0 auto;
}

.booktitle {
  font-size: 20px;
  margin-bottom: 20px;
}

.btn {
  background-color: gray;
  border-color: gray;
  font-display: none;
  color: white;
  margin-right: 20px;
  font-size: 15px;
  margin-bottom: 10px;
}

.author {
  font-weight: bold;
}
